@import "tailwindcss";

@theme {
	--color-xellanix-50: #f1f7fe;
	--color-xellanix-100: #e2effc;
	--color-xellanix-200: #bfdef8;
	--color-xellanix-300: #86c3f3;
	--color-xellanix-400: #46a4ea;
	--color-xellanix-500: #1d88da;
	--color-xellanix-600: #0f65af;
	--color-xellanix-700: #0e5596;
	--color-xellanix-800: #10497c;
	--color-xellanix-900: #133e67;
	--color-xellanix-950: #0d2744;

	--spacing-8xl: 90rem;
	--spacing-8xl/2: max(calc((100dvw - 90rem) / 2), 0px);

	--font-sans: "Figtree", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
	font-family: Figtree, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.scroll-container {
	@apply scroll-smooth;
}
.progress-bar {
	@apply bg-gray-300 dark:bg-gray-600 appearance-none rounded-lg;
	background: linear-gradient(
		to right,
		theme("colors.blue.500") var(--progress),
		theme("colors.gray.300") var(--progress)
	);
	background-size: 100% 100%;
}
.progress-bar::-webkit-slider-thumb {
	@apply w-4 h-4 bg-blue-500 dark:bg-blue-600 rounded-full cursor-pointer;
}
.progress-bar::-moz-range-thumb {
	@apply w-4 h-4 bg-blue-500 dark:bg-blue-600 rounded-full cursor-pointer;
}
input[type="file"] {
	@apply hidden;
}
